/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
    font-size: 24px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
  text-align: center;
}

section {
    background: lightgray;
    margin-bottom: 20px;
    padding: 20px;

}

#left {     
    float: left;
    width: 33%;
    padding:20px;
    margin-bottom: 20px;
    color: white;
    background: black;
    text-align: center;
}

#middle {
    float: left;
    width: 33%;
    padding:20px;
    margin-bottom: 20px;
    color: white;
    background: gray;
    text-align: center;
}

#right {
    float: left;
    width: 34%;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    background: black;
    text-align: center;
}

#full {
    padding: 100px;
    margin-top: 100px;  
    overflow: auto; 
    width: 100%;    
}

#division {
    background-color: cornflowerblue;
    padding: 20px 20px 20px 20px; 
    margin-top: 20px;
    width: 100%;

}

aside {
    float: left;
    width: 33%;
    height: 200px;
    border: 1px solid #eee;
    padding: 20px;
    margin-left: 30px;
    background: white;
}

footer {
    color: black;
    background-color: gray;
    padding: 20px;
    clear: both;
    text-align: center; 
}